<ul class="cd-gallery">
	<li>
		<cart-item></cart-item>
		<cart-item-info></cart-item-info>
	</li>
	<li>
		<cart-item></cart-item>
		<cart-item-info></cart-item-info>
	</li>
	<li>
		<cart-item></cart-item>
		<cart-item-info></cart-item-info>
	</li>
	<li>
		<cart-item></cart-item>
		<cart-item-info></cart-item-info>
	</li>

	<li>
		<cart-item></cart-item>
		<cart-item-info></cart-item-info>
	</li>
	<li>
		<cart-item></cart-item>
		<cart-item-info></cart-item-info>
	</li>
</ul>
<!-- cd-gallery -->
