
/* --------------------------------

Gallery grid

-------------------------------- */
.cd-gallery {
  width: 90%;
  max-width: 1100px;
  margin: 1.5em auto;
}
.cd-gallery > li {
  margin-bottom: 2em;
}
@media only screen and (min-width: 768px) {
  .cd-gallery {
    margin-top: 2em;
  }
  .cd-gallery::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-gallery > li {
    width: 48%;
    float: left;
    margin: 0 4% 6% 0;
  }
  .cd-gallery > li:nth-of-type(2n) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1100px) {
  .cd-gallery {
    margin-top: 2.5em;
  }
  .cd-gallery > li {
    width: 30%;
    float: left;
    margin: 0 5% 5% 0;
  }
  .cd-gallery > li:nth-of-type(2n) {
    margin-right: 5%;
  }
  .cd-gallery > li:nth-of-type(3n) {
    margin-right: 0;
  }
}



/* --------------------------------

Product Info (title + price)

-------------------------------- */
.cd-item-info {
  padding: 1em .5em 0;
  color: #314d5d;
  font-weight: bold;
}
.cd-item-info::after {
  clear: both;
  content: "";
  display: table;
}
.cd-item-info b {
  float: left;
}
.cd-item-info em {
  float: right;
  color: #5484a0;
}
.cd-item-info a {
  color: #314d5d;
}
.cd-item-info a:hover {
  text-decoration: underline;
}
